<div id='img'><h2>Shopping App</h2></div><br><br><br>
<h1>
<div id='select'>select category
    <select name="cat" aria-valuetext="typehere" style="margin-right: 20px;">
      <option value="Premium" >Premium</option>
      <option value="Tamilnadu" >Tamilnadu</option>
      <option value="Other" >Other</option></select><input type="button" style="margin-left: 0%;" value="ok">
    </div></h1><br><br><br>
<div id="div1" class="container">
        <div id="div2" *ngFor="let productdata of productdata">
        <i class="fa fa-cube" style="font-size:50px; color: aliceblue;"></i>
       <h1> Product name: {{ productdata.p_name }}<br>
        Product id: {{ productdata.p_id}}<br>
          Product cost:{{ productdata.p_cost }}<br>
          Product avalaibility: {{ productdata.p_availability }}
           Product details: {{ productdata.p_details }}
           Product category: {{ productdata.p_category}}<br>Quatity: <input name="quatity" style='width: 80px;' type="number"></h1><br>
          <input type="button" style="margin-left: 0%;" value="ok">
        </div><br><br>
  </div>
